<div class="container">
  <div class="mifi-login panel panel-default">
    <div class="panel-heading"><h1>中广传播集团</h1></div>
    <div class="panel-body">
      <h2>中国联通网络视频专属卡</h2>
      <p class="clearfix"><a href="<%= connect_path %>" class="btn btn-success pull-right">Internet</a>
        <a href="<%= connect_path %>" class="btn btn-primary pull-left">视频</a>
      </p>
    </div>
  </div>
</div>
